@using RazorLight;

<html>
<head>

</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
    </div>
    <div>
        <h2</h2>
        <img src="@ViewBag.TitleImageSource" />
        <div>
            @RenderBody()
        </div>
    </div>
    <div>
        <h4>Footer</h4>
    </div>
</body>
</html>